<a href="https://colab.research.google.com/github/Abhinagit24/data_analytics_2/blob/main/Python/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [1]:
planets = ['venus', 'mars', 'saturn', 'jupiter', 'mercury']

In [2]:
print(planets)

['venus', 'mars', 'saturn', 'jupiter', 'mercury']

## 2.	Print out those variables by using a for loop

In [3]:
for planet in planets:
  print(planet)

venus
mars
saturn
jupiter
mercury

## 3.	Modify your for loop to add a message to your for loop.

In [4]:
for planet in planets:
  print(planet.title() + " is one of my favorite planets")

Venus is one of my favorite planets
Mars is one of my favorite planets
Saturn is one of my favorite planets
Jupiter is one of my favorite planets
Mercury is one of my favorite planets

## 4.	Use a for loop to print even numbers from 1-20.

In [5]:
for num in range(2,21,2):
  print(num)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [6]:
planets.sort()

In [7]:
print(planets)

['jupiter', 'mars', 'mercury', 'saturn', 'venus']

## 6.	Print out the first three elements of your list.

In [8]:
planets[0:3]

['jupiter', 'mars', 'mercury']

## 7.	Create a loop to print the last 2 elements of your list.

In [9]:
planets = ['venus', 'mars', 'saturn', 'jupiter', 'mercury']
for planet in planets[-2:]:
  print(planet)

jupiter
mercury